
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "HK Grotesk";
    src: url('fonts/HKGrotesk-Bold.ttf') format("truetype");
}

html {
    font-size: 10px;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "HK Grotesk";
    background-color:#F2F2F2;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.institution-arrow-block {
    display: flex;
    align-items: center;
}

.institution-arrow-block a {
    text-decoration: none;
    color: #8d9090;
    font-size: 1.6rem;
    position: relative;
    font-weight: 500;
    left: .5rem;
}

.institution-arrow-block a:hover {
    text-decoration: underline;
}

.institution-arrow-block > .ob-left-arrow {
    cursor: pointer;
    height: 1.4rem;
    filter: invert(61%) sepia(7%) saturate(0%) hue-rotate(225deg) brightness(92%) contrast(92%);
}


.institution-content-wrapper {
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 8rem;
    padding: 2rem;
}

.institution-search-bx-body {
    max-height: 49vh;
    overflow-y: auto;
}


.institution-search-bx-body::-webkit-scrollbar-thumb {
    background: #d1d4d4;
    border-radius: 7px;
    height: 3rem;
}

.institution-search-bx-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F1F1F1;
    border-radius: 7px;
}

.institution-modal-content {
    width: 100%;
    max-width: 60rem;
    min-height: 70rem;
    background-color: #fff;
    padding: 4.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 14px;
    color: #1B2021;
}

.institution-modal-header {
    text-align: right;
}

.institution-modal-header h2 {
    text-align: left;
    font-size: 2.5rem;
    margin: 0;
}

.institution-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.institution-modal-footer > a {
    line-height: 2.8rem;
    text-decoration: none;
    color: #808080;
}

.institution-modal-footer > a:hover {
    text-decoration: underline;
}

.institution-modal-close {
    color: #8D9090;
    font-size: 2.6rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -20px;
}

.institution-search-container {
    position: relative;
    top: 2.2rem;
}

.institution-search-container input {
    text-indent: 2.8rem;
}

.institution-search-icon {
    position: relative;
    padding: 1rem;
    height: 3.8rem;
    bottom: 3.82rem;
}

.institution-search-input {
    width: 100%;
    padding: 1rem;
    border-radius: 9px;
    color: #8C8E8F;
    border: 1px solid #D1D2D3;
    font-size: 1.6rem;
    font-weight: 400;
    outline-color: #70b1f7;
}


.institution-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ob-institution {
    padding: 1.5rem;
    border: 1px solid #EBEBEB;
    margin: 0 1rem .6rem 0;
    border-radius: 10px;
    width: 23.5rem;
}

.ob-institution a {
    padding-right: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.ob-institution a img.ob-arrow-right {
    width: .8rem;
    height: 1rem;
    margin-left: auto;
    filter: invert(7%) sepia(6%) saturate(1618%) hue-rotate(142deg) brightness(96%) contrast(87%);
}

.fi {
    font-size:2.5rem;
}

.ob-span-text {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1B2021;
}


.ob-institution:hover {
    background-color: #F1F1F1;
    transition: all .25s ease-in-out;
}

img.ob-institution-logo {
    width: 100%;
    max-width: 3.5rem;
    height: 3.5rem;
    border-radius: 6px;
}

img.country-logo {
    width: 100%;
    max-width: 3.5rem;
    height: 3.5rem;
    border-radius: 6px;
}

.container-onboarding {
    max-width: 30rem;
}

.container-onboarding p {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    line-height: 3rem;
}

.ob-btn-primary {
    border: none;
    width: 28rem;
    height: 5.5rem;
    margin-top: 10rem;
    background: #3A53EE;
    padding: 1rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

.ob-btn-primary:hover {
    opacity: 0.75;
}

.company-image-wrapper img {
    max-width: 100%;
    height: auto;
}

.company-image-wrapper {
    margin-bottom: 2rem;
}

@media screen and (max-width: 990px) {

    .ob-institution {
        width: 96%;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 8px;
    }

    .institution-search-bx-body {
        max-height: 100%;
    }

    .institution-modal-content {
        max-width: 100%;
        min-height: 100%;
        height: 100%;
        border-radius: 0;
        display: none;
    }

    .container-onboarding p {
        text-align: center;
    }

    .container-onboarding {
        text-align: center;
    }

    .institution-content-wrapper {
        padding: 0;
        height: 100%;
    }

    .ob-btn-primary {
        display: block;
    }

    .institution-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .institution-modal-header {
        margin-top: 3rem;
    }

    .institution-modal-header h2 {
        font-size: 3rem;
    }

    .ob-institution span {
        font-size: 1.9rem;
    }
}

@media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    html {
        font-size: 7px;
    }

}
